{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center align-content-center text-center flex-column pt-5" style="width: 73.5vw; height: auto;">
<h1 class="pt-5">👋 About Me</h1>
<p>Good day, I'm Carl Andre Interino a 2nd Year Computer Science Student. Since I was a kid I always thought of how the web works and how to make one, back then I don't have a computer or a laptop It's because of financial problems but now I have the materials needed in my journey but the only thing that I'm weak at is discipline and patience, hoping that this year I will learn and gain new skills in terms of programming.</p>

<h2>My Mission</h2>
My mission is to learn enough before getting a job. I aim to be a Web Developer particularly a Front-End Developer. This year I will learn the necessary things to be a Front-End Dev. Hoping that you and the people around me witness the challenges that I will be encountering.

<h2 class="pt-3">Goal This Year</h2>
<h3>1. Patience and Discipline </h3>
<p>Uncover a world of possibilities with our Demo App. From key benefits or functionalities to another feature description, we have it all. </p>

<h3>2. Learn new skills</h3>
<p>Stay informed and enhance your knowledge with our insightful articles, tutorials, and resources. I offers a variety of content to educate, inspire, and entertain] you.</p>

<h3>3. Connect</h3>
<p>Connect with like-minded individuals and build a community around your interests. This Website allows you to describe how users can interact and engage with each other.</p>
    </div>
</div>
{% endblock %}