{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<body>
<h1 class="pt-5" id="he1">💻 Hi I'm <span class="text-danger">Carl Interino</span></h1>
<h2>A Future Developer.</h2>

<section class="p-3 pt-4">
    <div class="container">
        <div class="row-text-center">
<p class="fs-5">An aspiring web developer on a journey to create engaging and dynamic online experiences. With a passion for design and a love for coding, I'm constantly exploring new technologies and techniques to enhance my skills. My toolbox includes HTML, CSS, and currently learning JavaScript, and I'm always eager to learn more. I thrive on challenges and enjoy collaborating with others to bring ideas to life. Whether it's crafting sleek user interfaces or diving into backend development, I'm dedicated to delivering high-quality, 
user-centric solutions. Join me as I continue to grow and evolve in this exciting field!</p>
</div>
</div>
</section>
<p class="fs-5">I know that I'm not a great designer but I will practice more often. Thank you so much for understanding.</p>
<h1 class="pt-4">Discover Features in this Website</h1>
<h4 class="pt-3">HOME Features</h4>
<h4 class="pt-3">TO DO Features</h4>
<h4 class="pt-3">ABOUT Features</h4>
<h4 class="pt-3">CONTACT Features</h4>
</body>
{% endblock %}